<!DOCTYPE html>
<html>
<head>
    <title>House Price Prediction</title>
</head>
<body>
    <h1>House Price Prediction</h1>
    <form method="post">
        {% for feature in features %}
        <label>{{ feature }}:</label>
        <input type="text" name="{{ feature }}" required><br><br>
        {% endfor %}
        <button type="submit">Predict Price</button>
    </form>
    
    {% if predicted_price %}
    <h2>Predicted Price: {{ predicted_price }}</h2>
    {% endif %}
</body>
</html>
